<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/calculate"> 
    <input type="number" name="no1">
    <br>
        <input type="number" name="no2" >

 <br>
    <select name="operation">
        <option value="1"> add </option>
        <option value="2"> subtract </option>
        <option value="3"> multiply </option>
        <option value="4"> divide </option>
    </select>

<br> 
<label for="result">
{{val}} {{message}}{{odd}}
</label>

<input type="submit" value="sum">
    </form>


</body>
</html>