<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3{
            color: crimson;
        }
    </style>
</head>
<body>
    <form action="/validate">
    <h4>username</h4>   
    <br>
    <input type="text" name="username">
    <br>
    <h4>password</h4>
    <br>
    <input type="password" name="password">
    <input type="submit">
    <br>
       <h3>{{message}}</h3> 
       
       
    </form>
</body>
</html>