<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Sports quiz</h2>
    <form action="validateq1">
        <br>
        <h4>How many players play in a cricket team</h4>
        <label for=> a.10</label>
        <input type="radio" name="option" value="false">
        <label for=> b.11</label>
        <input type="radio" name="option" value="true">
        <label for=> c.12</label>
        <input type="radio" name="option" value="false">
        <label for=> d.9</label>
        <input type="radio" name="option" value="false">
        <input type="submit">
        {{message}}

    </form>
</body>
</html>