<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-image: url("../static/social-distancing-concept_23-2148497071.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center ;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {%for i in number%}
   {{i}}
   <form action="/socialdistance">
    <h2>Enter the number of visitors</h2>
    <input type="text" name="visitors" id="">
    {{number}}
   </form>
     {%endfor%}
    <form action="/socialdistance">
        <h3>
            enter the width of the room
        </h3>
        <input type="text" name="width">
        <h3>
            enter the length of the room
        </h3>
        <input type="text"name="length">
        <h3>
            enter the proximity distance
        </h3>
        <input type="text" name="distance">
        <h3>
            enter the number of people wishing to enter
        </h3>
        <input type="text" name="number">
        <input type="submit" value="submit">
    </form>
    {{message}}
    <br>
    {{cap}}
</body>
</html>